<div class="photo-select-wrapper  text-right">

    <div class="selected-img-wrapper">
        <img ng-if="selected != null" ng-src="{{selected.PhotoUrl}}" alt="Selected Photo">
        <img ng-if="selected == null" src="http://www.uwplatt.edu/files/styles/high_resolution/public/image_fields/directory_image/PhotoNotAvailable_124.jpg" alt="">
    </div>
    <div class="photo-select-utilities" ng-class="{'align-right':showPhotos == false}">
        <input ng-show="showPhotos" type="text" ng-model="searchText" placeholder="Search...">
        <button class="btn btn-info glyphicon glyphicon-chevron-down" ng-click="showPhotos = !showPhotos"></button>
    </div>

    <ul class="all-photos-wrapper" ng-if="showPhotos">
        <li ng-repeat="photo in photos | filter:searchText">
            <div class="photo-container" data-id="{{photo.Id}}" ng-click="selectPhoto(photo)" >
                <div class="title">
                    {{photo.Title}}
                </div>
                <div class="img-wrapper">
                    <img ng-src="{{photo.PhotoUrl}}" alt="Photo">
                </div>
            </div>
        </li>
    </ul>
</div>
